.Trophy {
    height: 70px;
    margin-top: 10px;
}

.CircleBacker {
    height: 90px;
    background-color: var(--primary);;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
}

.Achievements{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 16px;
}

.AchievementDesc {
    text-align: Left;
}
