@import "Colors.css";

.Wrapper {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    background-color: var(--primary);
}

.Header {
    height: inherit;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.Logo {
    margin-top: 10px;
    height: 50px;
    float: left;
}

.Center {
    font-size: 30px;
    display: inline;
    line-height: 70px;
    font-family: 'CMUBrightRoman';
    font-weight: semi-bold;
    font-style: normal;
    color: var(--alt-primary);
}
