@import "Colors.css";

.Name {
    font-size: 12pt;
    color: var(--primary);
    margin-top: 8px;
}

.Desc {
    max-height: 300px;
    min-height: 100px;
    margin-top: 4px;
}

.Container {
    width: 300px;
    margin-top: 8px;
    flex: 33%;
}

.HeadShot {
    height: 100px;
    width: 100px;
}

.Socials {
    display: flex;
    float: right;
}

.Social {
    height: 22px;
    margin-left: 2px;
}
