@import "Colors.css";

.Name {
    font-size: 12pt;
    color: var(--primary);
    margin-top: 8px;
}

.Desc {
    max-height: 300px;
    min-height: 140px;
    margin-top: 4px;
    font-size: 11pt;
}

.Container {
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    margin-top: 8px;
    flex: 33%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.HeadShot {
    height: 100px;
    width: 100px;
}

.Socials {
    display: flex;
    float: right;
}

.Social {
    height: 22px;
    margin-left: 2px;
}
